:host {
	display: inline-block;
}

button {
	display: flex;
	flex-direction: row;
	border: 2px outset #66CCFF;
	border-radius: 3px;
	background: #DDEEFF;
	transition: background-color 0.25s, border-color 0.25s;
	cursor: pointer;
	height: 100%;
	padding: 2px 5px;
}

button > .icon {
	flex: 0 0 auto;
	margin: 0px;
}

button > .label {
	flex: 0 1 auto;
	align-items: center;
}

button[disabled] {
	border-color: #AAAAAA;
	cursor: not-allowed;
}

button:hover:not([disabled]) {
	border-color: #3399FF;
	background: #66CCFF;
	transition: background-color 0.25s, border-color 0.25s;
}

button:active:not([disabled]) {
	background: #DDEEFF;
	transition: background-color 0.25s, border-color 0.25s;
}

:host([icon-placement=right]) button {
	flex-direction: row-reverse;
}

:host(:not([icon-placement=right])) button > .icon {
	margin-right: 5px;
}

:host([icon-placement=right]) button > .icon {
	margin-left: 5px;
}

:host([pressed]) button {
	background: #DDEEFF;
	transition: background-color 0.25s, border-color 0.25s;
}
