.select > mistral-button > .icon {
	margin-right: 1pt;
	cursor: pointer;
	user-select: none;
}

.select > mistral-button > .icon .icon-default {
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #3399FF;
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 5px;
}

:host([disabled]) .select > mistral-button > .icon .icon-default {
	border-top-color: #AAAAAA;
}

.select > .body {
	height: 0px;
	width: inherit;
	position: absolute;
	margin-top: 0px;
	padding-top: 2px;
	border-radius: 0px 0px 3px 3px;
	z-index: 10000;
	background: #DDEEFF;
	overflow: hidden;
}

.select > .body > ::slotted(*) {
	margin: 5px 0px !important; /* !important is needed until ::slotted gets its correct specificty. See https://github.com/w3c/csswg-drafts/issues/1915 */
	padding: 5px 5px !important; /* !important is needed until ::slotted gets its correct specificty. See https://github.com/w3c/csswg-drafts/issues/1915 */
	cursor: pointer !important; /* !important is needed until ::slotted gets its correct specificty. See https://github.com/w3c/csswg-drafts/issues/1915 */
}

:host([opened]:not([disabled])) .select > .body {
	height: auto;
	margin-top: -1px;
	border: 2px outset #66CCFF;
}

:host([opened]:not([disabled])) .select > .body > ::slotted(*:hover:not([disabled])) {
	background: #66CCFF !important; /* !important is needed until ::slotted gets its correct specificty. See https://github.com/w3c/csswg-drafts/issues/1915 */
}
