:host {
	display: inline-block;
}

button {
	display: grid;
	grid-template-areas: "a b";
	grid-template-columns: min-content auto;
	grid-template-rows: auto;
	border: 2px outset #66CCFF;
	border-radius: 3px;
	background: #DDEEFF;
	transition: background-color 0.25s, border-color 0.25s;
	cursor: pointer;
	height: 100%;
	padding: 2px 5px;
}

button > .icon {
	grid-area: a;
}

button > .icon > ::slotted(*) {
	margin-right: 5px;
}

button > .label {
	grid-area: b;
	align-items: center;
}

button[disabled] {
	border-color: #AAAAAA;
	cursor: not-allowed;
}

button:hover:not([disabled]) {
	border-color: #66CCFF;
	background: #66CCFF;
	transition: background-color 0.25s, border-color 0.25s;
}

button:active:not([disabled]) {
	background: #DDEEFF;
	transition: background-color 0.25s, border-color 0.25;
}

:host([icon-placement=right]) button {
	grid-template-areas: "b a";
	grid-template-columns: auto min-content;
}

:host([pressed]) button {
	background: #DDEEFF;
	transition: background-color 0.25s, border-color 0.25;
}
