:host {
	display: grid;
	grid-template-areas:
		"header"
		"body";
}

.header {
	grid-area: header;
}

.header > .tab-header {
	font-size: 12pt;
	font-weight: bold;
	background: rgba(30,90,220,0.4);
	cursor: pointer;
	border: 2px solid transparent;
	user-select: none;
}

.header > .tab-header[disabled] {
	background: rgba(128,128,128,0.4);
	cursor: not-allowed;
}

.header > .tab-header:hover:not([selected]):not([disabled]) {
	background: rgba(60,120,255,0.2);
}

.header > .tab-header:active:not([disabled]) {
	background: rgba(60,120,255,0.4);
}

.header > .tab-header[selected] {
	background: rgba(60,120,255,0.75);
	border-color: rgba(60,120,255,0.75);
}

.header > .tab-header[selected][disabled] {
	background: rgba(128,128,128,0.75);
}

.body {
	grid-area: body;
	border: 2px solid rgba(60,120,255,0.75);
	overflow: hidden;
}

::slotted(mistral-tab) {
	display: none;
}

::slotted(mistral-tab[selected]) {
	display: block;
}

/* TOP LAYOUT */

:host([layout=top]) {
	grid-template-areas:
		"header"
		"body";
}

:host([layout=top]) .header {
	display: flex;
	flex-basis: max-content;
}

:host([layout=top]) .header > .tab-header {
	border-bottom: none;
	border-radius: 3px 3px 0px 0px;
	margin-top: 5px;
	margin-left: -1px;
	margin-right: 0px;
	padding: 3px 10px 3px 5px;
}

:host([layout=top]) .header > .tab-header:first-child {
	margin-left: 5px;
}

:host([layout=top]) .header > .tab-header[selected] {
	margin-top: 0px;
	padding-top: 8px;
}

:host([layout=top]) .header > .tab-header:hover:not([selected]):not([disabled]) {
	margin-top: 3px;
	padding-top: 5px;
}

/* BOTTOM LAYOUT */

:host([layout=bottom]) {
	grid-template-areas:
		"body"
		"header";
}

:host([layout=bottom]) .header {
	display: flex;
	flex-basis: max-content;
}

:host([layout=bottom]) .header > .tab-header {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	margin-bottom: 5px;
	margin-left: -1px;
	margin-right: 0px;
	padding: 3px 10px 3px 5px;
}

:host([layout=bottom]) .header > .tab-header:first-child {
	margin-left: 5px;
}

:host([layout=bottom]) .header > .tab-header[selected] {
	margin-bottom: 0px;
	padding-bottom: 8px;
}

:host([layout=bottom]) .header > .tab-header:hover:not([selected]):not([disabled]) {
	margin-bottom: 3px;
	padding-bottom: 5px;
}

/* LEFT LAYOUT */

:host([layout=left]) {
	grid-template-areas:
		"header body";
	grid-template-columns: max-content auto;
}

:host([layout=left]) .header {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

:host([layout=left]) .header > .tab-header {
	border-right: none;
	border-radius: 3px 0px 0px 3px;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: -2px;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
}

:host([layout=left]) .header > .tab-header:first-child {
	margin-top: 5px;
}

:host([layout=left]) .header > .tab-header:last-child {
	margin-bottom: 10px;
}

:host([layout=left]) .header > .tab-header[selected] {
	margin-left: 0px;
	padding-right: 15px;
}

:host([layout=left]) .header > .tab-header:hover:not([selected]):not([disabled]) {
	margin-left: 3px;
	padding-right: 12px;
}

/* RIGHT LAYOUT */

:host([layout=right]) {
	grid-template-areas:
		"body header";
	grid-template-columns: auto max-content;
}

:host([layout=right]) .header {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

:host([layout=right]) .header > .tab-header {
	border-left: none;
	border-radius: 0px 3px 3px 0px;
	margin-right: 5px;
	margin-left: 0px;
	margin-top: -2px;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-right: 5px;
}

:host([layout=right]) .header > .tab-header:first-child {
	margin-top: 5px;
}

:host([layout=right]) .header > .tab-header:last-child {
	margin-bottom: 10px;
}

:host([layout=right]) .header > .tab-header[selected] {
	margin-right: 0px;
	padding-left: 15px;
}

:host([layout=right]) .header > .tab-header:hover:not([selected]):not([disabled]) {
	margin-right: 3px;
	padding-left: 12px;
}
