:host {
	display: grid;
	grid-template-areas:
		"icons title"
		"empty body";
		grid-template-columns: min-content auto;
	padding: 5px;
}

.icon {
	grid-area: icons;
	margin-right: 3pt;
	cursor: pointer;
	user-select: none;
}

.icon > .icon-closed {
	display: block;
	width: auto;
}

.icon > .icon-closed .closed-default {
	width: 0px;
	height: 0px;
	border-top: 6pt solid transparent;
	border-bottom: 6pt solid transparent;
	border-left: 6pt solid #3399FF;
	margin-left: 6pt;
}

.icon > .icon-opened {
	display: block;
	width: auto;
}

.icon > .icon-opened .opened-default {
	width: 0px;
	height: 0px;
	border-left: 6pt solid transparent;
	border-right: 6pt solid transparent;
	border-top: 6pt solid #3399FF;
	margin-top: 4pt;
}

.title {
	grid-area: title;
	font-size: 12pt;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	border-bottom: 1px solid #AAAAAA;
}

.body {
	grid-area: body;
	display: none;
	border-bottom: 1px solid #AAAAAA;
}

:host([opened]) .body {
	display: block;
}

:host([opened]) .icon.icon-closed {
	display: none;
	width: 0px;
}

:host(:not([opened])) .icon.icon-opened {
	display: none;
	width: 0px;
}

:host([disabled]) {
	border-color: #AAAAAA;
	cursor: not-allowed;
}

:host([disabled]) * {
	cursor: not-allowed;
}

:host([disabled]) > .icon > .icon.icon-closed .closed-default {
	border-left-color: #AAAAAA;
}

:host([disabled]) > .icon > .icon.icon-opened .opened-default {
	border-top-color: #AAAAAA;
}
