
/* BUTTON */

button {
	display: flex;
	border: 2px outset #3399FF;
	border-radius: 3px;
	background: #66CCFF;
	transition: background-color 0.25s, border-color 0.25s;
	cursor: pointer;
}

button > img:first-child,
button > .icon:first-child,
button > .image:first-child {
	margin-right: 5pt;
}

button > img:last-child,
button > .icon:last-child,
button > .image:last-child {
	margin-left: 5pt;
}
button[disabled] {
	border-color: #AAAAAA;
	cursor: not-allowed;
}

button:hover:not([disabled]) {
	border-color: #66CCFF;
	background: rgba(60,120,255,0.5);
	transition: background-color 0.25s, border-color 0.25s;
}

button:active:not([disabled]) {
	border-style: inset;
	background: rgba(60,120,255,0.5);
	transition: background-color 0.25s, border-color 0.25s;
}

/* INPUT[type=text] */

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
input[type=text] {
	display: block;
	border: 2px solid #3399FF;
	border-radius: 3px;
	background: #EEE;
	clip-path: polygon(0 0, 100% 0%, 100% 25%, calc(100% - 4px) 25%, calc(100% - 4px) 75%, 100% 75%, 100% 100%, 0% 100%, 0% 75%, 4px 75%, 4px 25%, 0% 25%);
	transition: background-color 0.25s, border-color 0.25s, clip-path 1s;
	cursor: pointer;
	padding: 2px 5px;
}

input[type=date][disabled],
input[type=datetime][disabled],
input[type=datetime-local][disabled],
input[type=email][disabled],
input[type=month][disabled],
input[type=number][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=time][disabled],
input[type=url][disabled],
input[type=week][disabled],
input[type=text][disabled]) {
	border: 2px solid #CCC;
	background: #EEE;
	clip-path: polygon(0 0, 100% 0%, 100% 25%, calc(100% - 4px) 25%, calc(100% - 4px) 75%, 100% 75%, 100% 100%, 0% 100%, 0% 75%, 4px 75%, 4px 25%, 0% 25%);
	transition: background-color 0.25s, border-color 0.25s, clip-path 1s;
	cursor: not-allowed;
	padding: 2px 5px;
}

input[type=date]:active:not([disabled]),
input[type=date]:focus:not([disabled]),
input[type=date]:focus-within:not([disabled]),
input[type=datetime]:active:not([disabled]),
input[type=datetime]:focus:not([disabled]),
input[type=datetime]:focus-within:not([disabled]),
input[type=datetime-local]:active:not([disabled]),
input[type=datetime-local]:focus:not([disabled]),
input[type=datetime-local]:focus-within:not([disabled]),
input[type=email]:active:not([disabled]),
input[type=email]:focus:not([disabled]),
input[type=email]:focus-within:not([disabled]),
input[type=month]:active:not([disabled]),
input[type=month]:focus:not([disabled]),
input[type=month]:focus-within:not([disabled]),
input[type=number]:active:not([disabled]),
input[type=number]:focus:not([disabled]),
input[type=number]:focus-within:not([disabled]),
input[type=password]:active:not([disabled]),
input[type=password]:focus:not([disabled]),
input[type=password]:focus-within:not([disabled]),
input[type=search]:active:not([disabled]),
input[type=search]:focus:not([disabled]),
input[type=search]:focus-within:not([disabled]),
input[type=tel]:active:not([disabled]),
input[type=tel]:focus:not([disabled]),
input[type=tel]:focus-within:not([disabled]),
input[type=time]:active:not([disabled]),
input[type=time]:focus:not([disabled]),
input[type=time]:focus-within:not([disabled]),
input[type=url]:active:not([disabled]),
input[type=url]:focus:not([disabled]),
input[type=url]:focus-within:not([disabled]),
input[type=week]:active:not([disabled]),
input[type=week]:focus:not([disabled]),
input[type=week]:focus-within:not([disabled]),
input[type=text]:active:not([disabled]),
input[type=text]:focus:not([disabled]),
input[type=text]:focus-within:not([disabled]) {
	border-color: #66CCFF;
	background: rgba(60,120,255,0.2);
	transition: background-color 0.25s, border-color 0.25s, clip-path 1s;
}


input[type=text] ~ label {
	font-size: 50px;
}
