h2 {
	display: block;
	border-bottom: 3px solid black;
	font-size: 36px;
	font-weight: sans-serif;
	font-family: sans-serif;
}

cool-quote {
	margin: 25px;
	font-size: 24px;
	font-family: sans-serif;
	border: 1px solid #AAAAAA;
	background: #DDEEFF;
	display: block;
	padding: 25px;
}

div.error {
	border: 1px solid red;
	background: #FFAAAA;
	text-align: center;
	font-size: 24px;
	font-family: sans-serif;
}
